
$baseColor:rgba(59,138,123,1);

/* 设计图宽度
如设计稿750，分10份， 1rem = 75px
base：https://github.com/amfe/lib-flexible */
$baseWidthRate: 36;

/* px转换为rem */
@function r($num) {
  @return $num / $baseWidthRate + rem;
}


/* === 全局变量配置 === */
$base-font-size          : r(14) !default; /* // 字号 */
$base-font-family        : "Microsoft YaHei",Tahoma, Arial, "Helvetica Neue", Helvetica, sans-serif !default; /* // 字体族 */
$base-line-height        : 1.5 !default; /* // 行号 */
$base-color              : #333 !default; /* // 字体颜色 */
$base-background-color   : #F2F2F2 !default; /* // 背景颜色 */
$base-font-weight		 : normal; /* //大小 */