@import "min";

.footer{
  position: fixed;
  bottom:0;
  left: 0;
  width: 100%;
  height:px2rem(120);

  div{
    position: relative;
    display: flex;
    border-top:1px solid #999;
  }
  a{
    position: relative;
    height: px2rem(120);
    width:33.33%;
    flex:auto;
    color:#999;
    font-size:px2rem(28);
    text-align: center;
    box-sizing: border-box;
    border-right: 1px solid #ddd;
    line-height:px2rem(120);
    &.active{
      color:#3a9e50;
      font-size:px2rem(36);
    }

    &:last-child{
      border-right:0
    }

  }
}