@import "base/base";

html,body{
  -webkit-overflow-scrolling : touch;
  width: 100%;
  overflow-x:hidden;
  min-width: 320px;
  //height:100%;
  background-color:#f4f4f4;
  position: relative;
  p{
    font-size: r(24);
    line-height: 150%;
  }
}

