@import "base/min";
.fade-enter-active, .fade-leave-active {
  transition: opacity .1s ease;
}
.fade-enter, .fade-leave-active {
  opacity: 0
}

.child-view {
  position: absolute;
  width: 100%;
  transition: all .2s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
  opacity: 0;
  -webkit-transform: translate(30px, 0);
  transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
  opacity: 0;
  -webkit-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
}
.com-app{
  position: relative;
  height: calc(100vh - 2.66667rem);
  width: 100%;
  overflow: scroll;
}
.com-app-box{
  position: relative;
  height: 100vh;
}