@import "base/min";
.com-calendar{
  position: absolute;
  top:0;
  left:0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  display: none;
  transition: all .5s;
  transform: translate(0,100%);


  .scroller-component {
    display: block;
    position: relative;
    height: 238px;
    overflow: hidden;
    width: 100%;
  }
  .scroller-content {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
  }
  .scroller-mask {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    margin: 0 auto;
    width: 100%;
    z-index: 3;
    background-image:
    linear-gradient(to bottom, rgba(255,255,255,0.95), rgba(255,255,255,0.6)),
    linear-gradient(to top, rgba(255,255,255,0.95), rgba(255,255,255,0.6));
    background-position: top, bottom;
    background-size: 100% 102px;
    background-repeat: no-repeat;
  }
  .scroller-item {
    text-align: center;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
    color: #000;
  }
  .scroller-indicator {
    width: 100%;
    height: 34px;
    position: absolute;
    left: 0;
    top: 102px;
    z-index: 3;
    background-image:
            linear-gradient(to bottom, #d0d0d0, #d0d0d0, transparent, transparent),
            linear-gradient(to top, #d0d0d0, #d0d0d0, transparent, transparent);
    background-position: top, bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
  .dp-container {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 10000;
    background-color: #fff;
    transition: transform 0.3s ease;
    transform: translateY(0);
  }
  .dp-mask {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    opacity: 0;
    transition: opacity 0.1s ease;
    background-color: #000;
    z-index: 9999;
  }
  .dp-header {
    display: flex;
    width: 100%;
    box-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #e7e7e7, #e7e7e7, transparent, transparent);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
  }
  .dp-header .dp-item {
    color: #666;
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    cursor: pointer;
  }
  .dp-content {
    display: flex;
    width: 100%;
    box-align: center;
    align-items: center;
    padding: 10px 0;
  }
  .dp-header .dp-item,
  .dp-content .dp-item {
    box-sizing: border-box;
    flex: 1;
    text-align: center;
  }
}