@import "base/min";

.a-box{
  margin-bottom: px2rem(150);
}
.com-comment{

  margin-top: px2rem(20);
  .title{
    background-color: #fff;
    text-align: center;
    font-size: px2rem(30);
    line-height: px2rem(80);
    color: #999;
    margin-bottom: px2rem(20);
  }
  .content{
    margin-top:px2rem(30);
  }
  .c-list{
    background-color: #fff;
    position: relative;
    li{
      position: relative;
      width: 100%;
      float: left;
      border-bottom:1px solid #ddd;
      padding:px2rem(40) px2rem(20);
      box-sizing: border-box;

    }
    .c-top{
        position: relative;
      }
    .reply{
      position: absolute;
      right: px2rem(40);
      font-size: px2rem(26);
      color: $bColor;
      top:px2rem(0);
      z-index: 3;
      span{
        padding-right: px2rem(10);
      }
    }
    .name{
      font-size: px2rem(30);
      line-height: px2rem(40);
      color: #666;
    }
    time{
      float:left;
    }
    img{
      margin-right: px2rem(15);
      display: block;
      width: px2rem(70);
      height: px2rem(70);
      border-radius: 100%;
      float:left;
    }
    .c-bottom{
      position: relative;
      margin-top: px2rem(20);
      font-size: px2rem(28);
      color: #333;
    }
    .r-p{
      color: #333;
      a{
        display: block;
        width: 100%;
        height: 100%;
      }
      span{
        color: #bbb;
        padding-right:px2rem(10);
      }
    }
  }
  .comment-btn{
    margin: px2rem(30) auto 0;
  }

}
.cc{
  background: url("/src/images/icon-1.png") no-repeat;
  width:px2rem(44);
  height:px2rem(44);
}