@import "base/min";

.footer{
  position: absolute;
  bottom:0;
  left: 0;
  z-index: 100;
  width: 100%;
  height:px2rem(100);
  background-color: #f4f4f4;
  div{
    position: relative;
    border-top:1px solid #ddd;
  }
  a{
    position: relative;
    height: px2rem(100);
    display: block;
    float:left;
    width:33.33%;
    text-align: center;
    box-sizing: border-box;
    span{
      display: block;
      margin:  px2rem(10) auto 0;
      width: px2rem(40);
      height:px2rem(40);
      font-size: px2rem(40);
      color: #999;
    }
    p{
      color:#999;
      font-size:px2rem(22);
    }
    &.active {
      span,p{
        color: $bColor
      }

    }


  }
}