@import "base/min";


.header{
  position: relative;
  top:0;
  width: px2rem(750);
  height:px2rem(100);
  text-align: center;
  box-sizing: border-box;
  line-height: px2rem(100);
  background-color: $bColor;
  .title{
    p{
      color: #fff;
      text-align: center;
      font-size: px2rem(32);
    }
  }
  .t-icon{
    width:px2rem(50);
    height:px2rem(50);
    display: block;
    top:px2rem(25);
    span{
      width: 100%;
      height: 100%;
      display: block;
      line-height: px2rem(50);
      color: #fff;
    }
  }

  .back{
    position: absolute;
    left: px2rem(20);
  }
  .share{
    position: absolute;
    right: px2rem(20);
  }
  .place{
    position: relative;
    left:0;
    float: left;
    width: px2rem(150);
    line-height: px2rem(100);
    text-align: center;
    color: #fff;
    font-size: px2rem(30);

  }
}