@import "base/min";

.com-homeuserinfo{
  .user-icon{
    height: px2rem(150);
    line-height: px2rem(150);
    img{
      position: absolute;
      right: px2rem(60);
      width: px2rem(100);
      height: px2rem(100);
      border-radius: 100%;
      top:px2rem(25);
    }

  }
  p{
    position: absolute;
    right: px2rem(60);
    color: #999;
    font-size: px2rem(32);
    top:0;
    line-height: px2rem(90);
  }
}