@import "base/min";
.index{
  position: relative;
  .center{
    display: flex;
    margin-top:px2rem(20);
    justify-content:center;
    align-items: center;
    background-color: #fff;
    .list{
      flex-grow:1;
      display: flex;
      display: -webkit-flex;
      -webkit-flex-direction:column;
      -webkit-justify-content:center;
      padding:px2rem(10) 0;
      p{
        text-align:center;
        color: $fontC;
        font-size: px2rem(30);
      }
      span{
        display: block;
        margin: 0 auto;
        font-size: px2rem(60);
        line-height: px2rem(60);
      }
    }
  }
  .btn{
    width:px2rem(100);
    height:px2rem(40);
    display: block;
    margin: 0 auto;
  }
}
