@import "base/min";

.b-reply{
  position: absolute;
  width: 100%;
  background-color: #fff;
  bottom:px2rem(0);
  height: px2rem(100);
  line-height: px2rem(100);
  padding: px2rem(15);
  box-sizing: border-box;
  border-top:1px solid #ddd;
  z-index: 99;
  -webkit-transition:all 1s;
  span{
    display: block;
    position: absolute;
    background-color: #6ac577;
    text-align: center;
    color: #fff;
    border-radius: px2rem(8);
    width: px2rem(120);
    height: px2rem(70);
    font-size: px2rem(26);
    line-height: px2rem(70);
    right: px2rem(15);
    top:px2rem(15);
  }
  input{
    position: absolute;
    top:px2rem(15);
    left: px2rem(15);
    height: px2rem(70);
    line-height: px2rem(70);
    width: px2rem(500);
    border:1px solid #eee;
    padding-left: px2rem(10);
    box-sizing: border-box;
  }
}
