@import 'base/min';


.search{
	position: relative;
	width:px2rem(600);
	height:px2rem(100);
	float: left;
	.box{
		position: relative;
		display: block;
		width: 90%;
		height: px2rem(60);
		top:px2rem(20);
		background-color: $bColor*1.5;
		border-radius: px2rem(10);
		font-size: px2rem(28);
		line-height: px2rem(60);
		padding-left: px2rem(32);
		box-sizing: border-box;
		color: #666;
		border:0;

		&::-webkit-input-placeholder{
			color: #fff;
		}
	}
}