@import 'base/min';


.search{
	position: relative;
	width:px2rem(600);
	height:px2rem(100);
	float: left;
	.box{
		position: relative;
		display: block;
		width: 90%;
		height: px2rem(70);
		top:px2rem(15);
		background-color: #fff;
		border-radius: px2rem(70);
		font-size: px2rem(30);
		line-height: px2rem(70);
		padding-left: px2rem(30);
		box-sizing: border-box;
		color: #666;
		border:0;

	}
}